
h1{
  font-size:18px ;
  border: 1px solid #f72664;
  padding: 8px;
  border-radius: 5px;
  color: 1px solid #f72664;
}


.offer-details{
  display: flex;
  align-items: center;

.space-left{
  margin-left: 5px;
}
ion-text,span {
  font-size: 12px;
}
}
